openapi: 3.0.0
info:
  title: Aerospike Cloud Public API
  version: 1.0.0
  description: Public API for the Aerospike Cloud offering
  contact:
    name: Aerospike Cloud
  x-logo:
    url: https://console.aerospike.com/static/aerospike-logo.svg
    altText: Aerospike Logo
servers:
  - url: https://api.aerospike.com/v1
security:
  - publicOauth2: []
tags:
  - name: cluster
    x-displayName: Clusters
    description: |
      APIs which facilitate cluster management as a service.
  - name: cluster-credential
    x-displayName: Credentials
    description: |
      APIs which facilitate api-key management.
  - name: cluster-vpc-peering
    x-displayName: VPC Peerings
    description: |
      APIs which facilitate VPC peering management.
  - name: organization
    x-displayName: Organization
    description: |
      APIs which facilitate self service organization management
  - name: secret
    x-displayName: Secrets
    description: |
      APIs which facilitate secret management.
  - name: api-key
    x-displayName: API Keys
    description: |
      APIs for managing API keys.
  - name: cloud-provider
    x-displayName: Cloud Providers
    description: |
      APIs which facilitate cloud-provider actions.
paths:
  /organization:
    get:
      summary: Get your organization
      description: Get your organization
      security:
        - publicOauth2:
            - read:org
      tags:
        - organization
      operationId: getOrganization
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/members:
    get:
      summary: List org members
      description: List members of the organization.
      security:
        - publicOauth2:
            - read:org
      tags:
        - organization
      operationId: listOrgMembers
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/MemberCollection'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/members/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserId'
    delete:
      summary: Remove org member
      description: Removes a member from the organization.
      security:
        - publicOauth2:
            - update:org
      tags:
        - organization
      operationId: removeOrgMember
      responses:
        '204':
          $ref: '#/components/responses/Empty'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalError'
  /api-keys:
    get:
      summary: List API keys.
      description: List API keys.
      security:
        - publicOauth2:
            - read:api-key
      tags:
        - api-key
      operationId: listApiKeys
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/ApiKeyCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
    post:
      summary: Create a new API key
      description: Create a new API key
      security:
        - publicOauth2:
            - create:api-key
      tags:
        - api-key
      operationId: createApiKey
      requestBody:
        $ref: '#/components/requestBodies/CreateApiKey'
      responses:
        '201':
          $ref: '#/components/responses/ApiKey'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /api-keys/{clientId}:
    delete:
      summary: Delete an API key
      description: Delete an API key
      security:
        - publicOauth2:
            - delete:api-key
      parameters:
        - $ref: '#/components/parameters/ApiKeyClientIdParam'
      tags:
        - api-key
      operationId: deleteApiKey
      responses:
        '204':
          description: Successfully deleted the API key.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /secrets:
    get:
      summary: List all secrets.
      description: Retrieves a list of all secrets accessible to the user
      security:
        - publicOauth2:
            - read:secret
      tags:
        - secret
      operationId: listSecrets
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/SecretCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create a new secret
      description: Create a new secret
      security:
        - publicOauth2:
            - create:secret
      tags:
        - secret
      operationId: createSecret
      requestBody:
        $ref: '#/components/requestBodies/SecretCreate'
      responses:
        '202':
          $ref: '#/components/responses/Secret'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /secrets/{secretId}:
    parameters:
      - $ref: '#/components/parameters/SecretId'
    get:
      description: Get an existing secret by Id
      security:
        - publicOauth2:
            - read:secret
      tags:
        - secret
      summary: Get an existing secret
      operationId: getSecretById
      responses:
        '200':
          $ref: '#/components/responses/Secret'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete a secret
      description: Delete a secret.
      security:
        - publicOauth2:
            - delete:secret
      tags:
        - secret
      operationId: deleteSecretById
      responses:
        '204':
          description: Successfully deleted the secret.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/cloud-providers:
    get:
      summary: List supported cloud providers.
      description: |
        Returns a list of supported cloud providers and regions.
      security:
        - publicOauth2: []
      tags:
        - cloud-provider
      operationId: getCloudProviders
      parameters:
        - in: query
          name: filter
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/CloudProviderInstanceTypeFilter'
          description: Optional filters for cloud provider, region, and instance type characteristics.
      responses:
        '200':
          $ref: '#/components/responses/CloudProviderInfoResultSet'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
  /database/cloud-providers/{cloudProviderId}/instance-types/{instanceTypeId}:
    get:
      summary: Get specs for an instance type.
      description: Returns the specs for a given instance type.
      security:
        - publicOauth2: []
      tags:
        - cloud-provider
      operationId: getCloudProviderInstanceTypeSpecs
      parameters:
        - $ref: '#/components/parameters/CloudProviderIdParam'
        - $ref: '#/components/parameters/InstanceTypeIdParam'
      responses:
        '200':
          $ref: '#/components/responses/InstanceTypeSpecsResult'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters:
    get:
      summary: List clusters.
      description: |-
        Retrieves a list of all clusters accessible to the user.
        The list can be filtered by status.
      security:
        - publicOauth2:
            - read:database
      tags:
        - cluster
      operationId: listClusters
      parameters:
        - name: status_ne
          in: query
          description: |-
            Filter clusters to exclude any matching one or more of the specified statuses.
            Provide statuses as a single comma-separated list (e.g., ?status_ne=deleting,failed).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ClusterStatus'
            uniqueItems: true
          example:
            - decommissioned
            - decommissioning
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/ClusterCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
    post:
      summary: Create a new cluster
      description: Create a new cluster
      security:
        - publicOauth2:
            - create:database
      tags:
        - cluster
      operationId: createCluster
      requestBody:
        $ref: '#/components/requestBodies/ClusterCreate'
      responses:
        '202':
          $ref: '#/components/responses/Cluster'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
    get:
      description: Get an existing database by Id
      security:
        - publicOauth2:
            - read:database
      tags:
        - cluster
      summary: Get an existing database
      operationId: getClusterById
      responses:
        '200':
          $ref: '#/components/responses/ClusterFull'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Update an existing cluster
      description: Update an existing cluster.
      security:
        - publicOauth2:
            - update:database
      tags:
        - cluster
      operationId: updateClusterById
      requestBody:
        $ref: '#/components/requestBodies/ClusterUpdate'
      responses:
        '202':
          $ref: '#/components/responses/Cluster'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete a cluster
      description: Delete a cluster.
      security:
        - publicOauth2:
            - delete:database
      tags:
        - cluster
      operationId: deleteClusterById
      responses:
        '204':
          description: Successfully deleted the cluster.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}/metrics:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: Get cluster metrics
      description: Returns all metrics for the given cluster
      security:
        - publicOauth2:
            - read:database
      tags:
        - cluster
      operationId: getClusterMetrics
      responses:
        '200':
          $ref: '#/components/responses/ClusterMetrics'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}/credentials:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: List credentials for a cluster
      description: List credentials for a clusters.
      security:
        - publicOauth2:
            - read:database
      tags:
        - cluster-credential
      operationId: getClusterCredentials
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/ClusterCredentialsCollection'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create new credentials for a database
      description: |
        Create a new API key for a database.

        Supports `read`, `write`, `read-write` privileges for CORE databases. Defaults to `read-write`.
      security:
        - publicOauth2:
            - update:database
      tags:
        - cluster-credential
      operationId: createClusterCredentials
      requestBody:
        $ref: '#/components/requestBodies/ClusterCredentialsWithPassword'
      responses:
        '201':
          $ref: '#/components/responses/ClusterCredentialsPasswordAndId'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}/credentials/{credentialsId}:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/ClusterCredentialsId'
    delete:
      summary: Delete credentials for a cluster
      description: Deletes credentials for a cluster.
      security:
        - publicOauth2:
            - update:database
      tags:
        - cluster-credential
      operationId: deleteClusterCredentialsById
      responses:
        '204':
          description: Successfully deleted the credential.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}/private-access:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
  /database/clusters/{clusterId}/private-access/consumers:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
  /database/clusters/{clusterId}/private-access/consumers/{consumerId}:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
  /database/clusters/{clusterId}/vpc-peerings:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Create a single VPC Peering connection for the cluster
      description: Create a single VPC Peering connection for the cluster.
      security:
        - publicOauth2:
            - update:database
      tags:
        - cluster-vpc-peering
      operationId: createVPCPeerings
      requestBody:
        $ref: '#/components/requestBodies/VPCPeeringCreate'
      responses:
        '201':
          $ref: '#/components/responses/VPCPeering'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      summary: List VPC peering information
      description: List VPC peering information
      security:
        - publicOauth2:
            - read:database
      tags:
        - cluster-vpc-peering
      operationId: getVPCPeerings
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          $ref: '#/components/responses/VPCPeeringCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /database/clusters/{clusterId}/vpc-peerings/{peeringId}:
    parameters:
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/PeeringId'
    delete:
      summary: Delete a VPC peering connection
      description: Delete a VPC peering connection.
      security:
        - publicOauth2:
            - delete:database
      tags:
        - cluster-vpc-peering
      operationId: deleteVPCPeerings
      responses:
        '204':
          description: Successfully deleted a VPC peering connection
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /pricing/rates/{region_id}:
    get:
      summary: Get pricing rates
      description: |
        Returns pricing rates for all machine types organized by machine type for a specific region.
      operationId: getPricingRates
      tags:
        - pricing
      security:
        - publicOauth2:
            - read:database
      parameters:
        - name: region_id
          in: path
          required: true
          description: AWS region identifier (e.g., "us-east-1")
          schema:
            type: string
          example: us-east-1
      responses:
        '200':
          description: Pricing rates organized by machine type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRatesJSONResponse'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: |-
        The maximum number of items to return in a single response.
        Used for pagination. Must be between 1 and 100.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 10
    OffsetParam:
      name: offset
      in: query
      description: |-
        The number of items to skip before starting to return results.
        Used for pagination. For example, to get the next 10 items after the first 10,
        set offset to 10.
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    ApiKeyClientIdParam:
      name: clientId
      in: path
      description: API key client ID
      required: true
      schema:
        type: string
    ClusterCredentialsId:
      name: credentialsId
      in: path
      description: A cluster credentials ID.
      required: true
      schema:
        type: string
    ClusterId:
      name: clusterId
      in: path
      description: A cluster ID.
      required: true
      schema:
        type: string
        format: uuid
    PeeringId:
      name: peeringId
      in: path
      description: The internal ID of the VPC peering connection resource.
      required: true
      schema:
        type: string
        description: The internal UUID or VPC ID of the VPC peering connection
        format: uuid
    UserId:
      name: userId
      in: path
      description: A user ID.
      required: true
      schema:
        type: string
        format: uuid
    SecretId:
      name: secretId
      in: path
      description: A secret ID.
      required: true
      schema:
        type: string
        format: uuid
    CloudProviderIdParam:
      name: cloudProviderId
      in: path
      description: ID of a cloud provider.
      required: true
      schema:
        $ref: '#/components/schemas/CloudProviderId'
    InstanceTypeIdParam:
      name: instanceTypeId
      in: path
      description: ID of an instance type.
      required: true
      schema:
        type: string
        example: i4i.large
  requestBodies:
    CreateApiKey:
      description: Create an API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateApiKey'
    ClusterCredentialsWithPassword:
      description: Create cluster credentials request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterCredentialsWithPasswordSchema'
    ClusterUpdate:
      description: Update cluster request
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/ClusterMutableConfiguration'
          example:
            name: updated-log-access
            logging:
              authorizedRoles:
                - arn:aws:iam::123456789012:role/ASLogReader
                - arn:aws:iam::123456789012:role/ASNewRole
    ClusterCreate:
      description: |
        Create cluster request. Either `storageEngine` or `spec` must be provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterCreate'
          example:
            name: a-simple-cluster
            infrastructure:
              provider: aws
              instanceType: i4i.large
              region: us-east-1
              availabilityZoneCount: 2
            aerospikeCloud:
              clusterSize: 2
              dataStorage: memory
            aerospikeServer:
              namespaces:
                - name: test
            logging:
              authorizedRoles:
                - arn:aws:iam::123456789012:role/ASLogReader
                - arn:aws:iam::123456789012:role/DeveloperRole
    VPCPeeringCreate:
      description: Create VPC Peering request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCPeeringCreateSchema'
    SecretCreate:
      description: Create a secret
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretCreateSchema'
  responses:
    CloudProviderInfoResultSet:
      description: Set of available cloud providers
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CloudProviderInfoResultSet'
    InstanceTypeSpecsResult:
      description: Instance type specs
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceTypeSpecsResult'
    ApiKeyCollection:
      description: A collection of API keys
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyCollectionSchema'
    ApiKey:
      description: An API key
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content: {}
    Organization:
      description: An organization
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationExisting'
    ClusterCollection:
      description: A collection of clusters
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterCollectionSchema'
    Cluster:
      description: |
        A cluster creation, modification, or deletion request has been successfully processed and the current state of
        applying the requested change is returned.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterExisting'
    ClusterCredentialsPasswordAndId:
      description: |
        New cluster credentials.
        **Note:** This is the only time the password is returned. If the password is lost new credentials should be generated.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterCredentialsWithPasswordAndIdSchema'
    ClusterCredentialsCollection:
      description: A collection of cluster credentials
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CollectionCommon'
              - $ref: '#/components/schemas/ClusterCredentialsCollectionSchema'
    ClusterMetrics:
      description: |
        A cluster metrics request response.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterMetricsFull'
    ClusterFull:
      description: |
        A cluster creation, modification, or deletion request has been successfully processed and the current state of
        applying the requested change is returned including metrics.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClusterExisting'
    MemberCollection:
      description: A collection of user org members
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MemberCollectionSchema'
    Empty:
      description: An empty response
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            type: object
    UnauthenticatedError:
      description: Access token is missing or invalid
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:auth:token-expired
            title: Token Expired
            status: 401
            detail: Your session has expired. Please log in again.
            message: Your session has expired. Please log in again.
    UnauthorizedError:
      description: Permission denied
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:auth:unauthorized
            title: Unauthorized
            status: 403
            detail: You don't have permission to access this resource.
            message: You don't have permission to access this resource.
    ConflictError:
      description: Conflict error
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:resource:already-exists
            title: Resource Already Exists
            status: 409
            detail: A resource with this name already exists.
            message: A resource with this name already exists.
            context:
              resource: cluster
              id: my-cluster
    InvalidInputError:
      description: Invalid input
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:validation:failed
            title: Validation Error
            status: 400
            detail: The provided information is not in the correct format.
            message: The provided information is not in the correct format.
            context:
              invalid:
                - field: /name
                  type: urn:aerospike:errors:validation:too-long
                - field: /region
                  type: urn:aerospike:errors:validation:too-short
    NotFound:
      description: Resource not found
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:resource:not-found
            title: Resource Not Found
            status: 404
            detail: The requested resource could not be found.
            message: The requested resource could not be found.
            context:
              resource: cluster
              id: abc-123
    NotImplementedError:
      description: The endpoint has not been implemented yet.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:system:unavailable
            title: Not Implemented
            status: 501
            detail: This endpoint has not been implemented yet.
            message: This endpoint has not been implemented yet.
    InternalError:
      description: Internal Server Error
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:system:internal
            title: Internal Server Error
            status: 500
            detail: An unexpected error occurred. Please try again later.
            message: An unexpected error occurred. Please try again later.
    TooManyRequestsError:
      description: Too many requests
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            type: urn:aerospike:errors:ratelimit:exceeded
            title: Rate Limit Exceeded
            status: 429
            detail: Too many requests. Please wait a moment before trying again.
            message: Too many requests. Please wait a moment before trying again.
    VPCPeering:
      description: A VPC Peering connection
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCPeeringSchema'
    VPCPeeringCollection:
      description: A collection of VPC Peering connections
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VpcPeeringCollectionSchema'
    Secret:
      description: A secret
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretSchema'
    SecretCollection:
      description: A collection of secrets
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretCollectionSchema'
  schemas:
    ApiKeyCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            apiKeys:
              type: array
              items:
                $ref: '#/components/schemas/ApiKeySchema'
          required:
            - apiKeys
    ApiKeySchema:
      type: object
      description: An API key
      properties:
        name:
          type: string
        clientId:
          type: string
      required:
        - name
        - clientId
    CreateApiKey:
      type: object
      description: Create an API key
      properties:
        name:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - description: A custom name for the API key
              example: my dev key
      required:
        - name
    CloudProviderInfoResultSet:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/CloudProviderInfo'
    CloudProviderInfo:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CloudProviderId'
        name:
          type: string
          example: Amazon Web Services (AWS)
          description: Human friendly (i.e. branded) name of the cloud provider.
          readOnly: true
        regions:
          type: array
          items:
            $ref: '#/components/schemas/CloudProviderRegion'
      required:
        - id
        - name
        - regions
    CloudProviderRegion:
      readOnly: true
      type: object
      properties:
        name:
          type: string
          example: us-east-1
        instanceTypes:
          type: array
          items:
            $ref: '#/components/schemas/InstanceTypeSpecsResult'
      required:
        - name
        - instanceTypes
    InstanceTypeSpecsResult:
      type: object
      properties:
        instanceType:
          type: string
          example: trn1.32xlarge
          readOnly: true
        vcpus:
          type: integer
          example: 128
          readOnly: true
        memoryGib:
          type: integer
          example: 512
          readOnly: true
        localStorage:
          $ref: '#/components/schemas/LocalStorage'
        supportedArchitectures:
          type: array
          items:
            type: string
            enum:
              - x86_64
              - arm64
          readOnly: true
      required:
        - instanceType
        - vcpus
        - memoryGib
        - localStorage
        - supportedArchitectures
    LocalStorage:
      type: object
      properties:
        numberOfDisks:
          type: integer
          example: 4
        diskSizeGib:
          type: integer
          example: 1900
        totalSizeGib:
          type: integer
          example: 7600
      readOnly: true
      required:
        - numberOfDisks
        - diskSizeGib
        - totalSizeGib
    NotificationCollection:
      $ref: '#/components/schemas/NotificationsSchema'
    NotificationsSchema:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
    Notification:
      type: object
      description: |
        A notification describing describing events of a cluster.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        message:
          type: string
          example: cluster_tps_threshold_breach_80pct
        status:
          type: string
          enum:
            - NOTIFICATION_STATUS_READ
            - NOTIFICATION_STATUS_UNREAD
        source:
          type: object
          description: Source of the event e.g., db, org, user, ... for facilitating further actions
          properties:
            clusterId:
              type: string
              format: uuid
    ClusterState:
      type: string
      enum:
        - ONLINE
        - OFFLINE
        - UNSPECIFIED
      example: ONLINE
    ClusterStatus:
      type: string
      enum:
        - not-available
        - provisioning
        - active
        - updating
        - decommissioning
        - decommissioned
        - pausing
        - paused
        - resuming
        - action-required
        - config-error
        - usage-exceeded
        - multiple
        - unknown
      example: active
    ClusterCreate:
      allOf:
        - properties:
            name:
              allOf:
                - $ref: '#/components/schemas/NameValidation'
                - example: My cool cluster
            dataPlaneVersion:
              type: string
              example: 0.0.1
              default: default
              description: Optionally specify the data plane version of the cluster. Otherwise the latest version will be chosen.
          required:
            - name
        - $ref: '#/components/schemas/database_spec'
    ClusterHealth:
      type: object
      properties:
        health:
          $ref: '#/components/schemas/HealthDetails'
    HealthDetails:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/ClusterState'
        status:
          $ref: '#/components/schemas/ClusterStatus'
    ResourceIdentifier:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this resource within Aerospike Cloud
          example: e2e81cba-446e-4ff9-9b92-9a9992af44c6
      required:
        - id
    CloudProviderId:
      type: string
      enum:
        - aws
        - azure
        - gcp
      description: The ID of the cloud provider.
    ClusterSchema:
      allOf:
        - type: object
          properties:
            name:
              type: string
              example: My cool cluster
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            dataPlaneVersion:
              type: string
              example: 0.0.1
            connectionDetails:
              $ref: '#/components/schemas/ConnectionDetails'
          required:
            - name
            - createdAt
            - updatedAt
            - dataPlaneVersion
            - connectionDetails
        - $ref: '#/components/schemas/database_spec'
    ClusterMutableConfiguration:
      allOf:
        - type: object
          properties:
            name:
              type: string
              example: My cool cluster
        - $ref: '#/components/schemas/database_spec_patch'
    ConnectionDetails:
      type: object
      properties:
        host:
          type: string
          example: e2e81cba-446e-4ff9-9b92-9a9992af44c6.asdb.io
          description: |
            Host name that clients will use to connect to the cluster. Correlates to the `AEROSPIKE_CLOUD_HOST`
            variable in documentation and code samples.
        tlsCertificate:
          type: string
          description: |
            PEM encoded TLS certificate for the cluster.
    PrivateAccessConsumer:
      allOf:
        - type: object
        - $ref: '#/components/schemas/ResourceIdentifier'
        - properties:
            endpointId:
              type: string
              example: vpce-075f0461d3f5277e01
    ClusterExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/ClusterSchema'
        - $ref: '#/components/schemas/ClusterHealth'
    OrganizationSchema:
      allOf:
        - type: object
          description: |
            An organization. For now only includes a name, but may include additional customer / tenant details in the
            future.
          properties:
            name:
              type: string
              example: My organization
            billingId:
              type: string
              pattern: ^$|^cus_[a-zA-z0-9]+
              example: cus_OPMnlfzpujhunk
            billingPlan:
              type: string
              enum:
                - BILLING_PLAN_ENTERPRISE
              default: BILLING_PLAN_ENTERPRISE
            salesforceAccountId:
              type: string
              example: 001ak00000llBrOAAU
        - $ref: '#/components/schemas/EntitlementCollection'
    OrganizationExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/OrganizationSchema'
    EntitlementCollection:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/Entitlement'
    Entitlement:
      properties:
        entitlementUrn:
          type: string
          pattern: ^urn:aerospike:.+
          example: urn:aerospike:node:count-general
        quantity:
          type: integer
          format: int32
          example: 3
          description: number of resources allowed
        used:
          type: integer
          format: int32
          example: 1
          description: number of resources currently in use
    CollectionCommon:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned in the result.
          example: 1
      required:
        - count
    PaginationMetadata:
      type: object
      description: Pagination metadata for collection responses
      properties:
        total:
          type: integer
          description: Total number of items available
          example: 1000
        limit:
          type: integer
          description: Maximum number of items per page
          example: 10
        offset:
          type: integer
          description: Number of items skipped before the current result set
          example: 10
      required:
        - total
        - limit
        - offset
    CollectionCommonWithPagination:
      type: object
      description: Common fields for paginated collections
      properties:
        count:
          type: integer
          description: Number of items returned in the current result set.
          example: 10
        meta:
          type: object
          allOf:
            - $ref: '#/components/schemas/PaginationMetadata'
          nullable: true
          description: Pagination metadata
      required:
        - count
    CreatedAt:
      type: object
      description: Common timestamp fields for resources
      properties:
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the resource was created
          readOnly: true
      required:
        - createdAt
    ClusterCredentialsWithPasswordAndIdSchema:
      allOf:
        - $ref: '#/components/schemas/ClusterCredentialsExisting'
        - type: object
          properties:
            password:
              type: string
              format: password
              minLength: 1
              maxLength: 256
              description: Password to be used for these credentials
          required:
            - password
    ClusterCredentialsWithPasswordSchema:
      allOf:
        - $ref: '#/components/schemas/ClusterCredentials'
        - type: object
          properties:
            password:
              type: string
              format: password
              minLength: 8
              maxLength: 256
              description: Password to be used for these credentials
          required:
            - password
    ClusterCredentialsExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/ClusterCredentials'
        - $ref: '#/components/schemas/ClusterCredentialsStatus'
        - $ref: '#/components/schemas/CreatedAt'
    ClusterCredentialsCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            credentials:
              type: array
              items:
                $ref: '#/components/schemas/ClusterCredentialsExisting'
          required:
            - credentials
    ClusterCredentials:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ClusterCredentialsName'
        roles:
          type: array
          uniqueItems: true
          minItems: 1
          default:
            - read-write
          items:
            type: string
            enum:
              - read
              - write
              - read-write
              - read-write-udf
              - truncate
              - data-admin
              - sindex-admin
              - udf-admin
          description: A list of privileges granted to these credentials
      required:
        - name
        - roles
    ClusterCredentialsStatus:
      properties:
        status:
          type: string
          enum:
            - creating
            - active
            - failed
            - revoked
          description: The status of a user credential
          example: active
      required:
        - status
    ClusterCredentialsName:
      type: string
      description: The name of a cluster user
      example: a-user-name
      pattern: ^[a-zA-Z0-9_$-]+$
      not:
        enum:
          - 'null'
          - acs-admin
          - admin
          - cluster-manager
          - aerospike-prometheus-exporter
          - aerospike-backup
          - aerospike-collectinfo
          - dataplane-agent
          - read
          - write
          - read-write
          - read-write-udf
          - truncate
          - data-admin
          - sindex-admin
          - sys-admin
          - udf-admin
          - user-admin
      minLength: 1
      maxLength: 63
    ClusterCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            clusters:
              type: array
              items:
                $ref: '#/components/schemas/ClusterExisting'
          required:
            - clusters
    ClusterListItem:
      $ref: '#/components/schemas/ClusterExisting'
    ClusterMetricsFull:
      type: object
      properties:
        uniqueData:
          $ref: '#/components/schemas/DailyMetric'
        storage:
          type: object
          properties:
            bytesMax:
              type: integer
              format: int64
            memoryMax:
              type: integer
              format: int64
            bytesUsed:
              $ref: '#/components/schemas/HourlyMetric'
            memoryUsed:
              $ref: '#/components/schemas/HourlyMetric'
            objectsUsed:
              $ref: '#/components/schemas/HourlyMetric'
        throughput:
          type: object
          properties:
            objectSizeAvg:
              type: object
              properties:
                now:
                  $ref: '#/components/schemas/MetricVector'
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
                dailyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            readTps:
              allOf:
                - $ref: '#/components/schemas/HourlyMetric'
                - $ref: '#/components/schemas/DailyMetric'
            writeTps:
              allOf:
                - $ref: '#/components/schemas/HourlyMetric'
                - $ref: '#/components/schemas/DailyMetric'
            readTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            writeTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            batchReadTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            batchWriteTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            queryTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
        latency:
          type: object
          properties:
            read:
              type: object
              properties:
                quantile95:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile99:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile999:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
            write:
              type: object
              properties:
                quantile95:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile99:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile999:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
        transactions:
          type: object
          properties:
            readCount:
              type: object
              properties:
                minutely:
                  $ref: '#/components/schemas/MetricRangeResult'
                hourly:
                  $ref: '#/components/schemas/MetricRangeResult'
                daily:
                  $ref: '#/components/schemas/MetricRangeResult'
            writeCount:
              type: object
              properties:
                minutely:
                  $ref: '#/components/schemas/MetricRangeResult'
                hourly:
                  $ref: '#/components/schemas/MetricRangeResult'
                daily:
                  $ref: '#/components/schemas/MetricRangeResult'
            errors:
              type: object
              properties:
                keyBusy:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                generationFail:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                timeout:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                recordSize:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
    HourlyMetric:
      type: object
      properties:
        now:
          $ref: '#/components/schemas/MetricVector'
        hourlyAvg:
          $ref: '#/components/schemas/MetricRangeResult'
        hourlyMin:
          $ref: '#/components/schemas/MetricRangeResult'
        hourlyMax:
          $ref: '#/components/schemas/MetricRangeResult'
    DailyMetric:
      type: object
      properties:
        now:
          $ref: '#/components/schemas/MetricVector'
        dailyAvg:
          $ref: '#/components/schemas/MetricRangeResult'
        dailyMin:
          $ref: '#/components/schemas/MetricRangeResult'
        dailyMax:
          $ref: '#/components/schemas/MetricRangeResult'
    MetricRangeResult:
      type: array
      description: |
        Range of metric vectors over a specific time period.
      items:
        $ref: '#/components/schemas/MetricVector'
    MetricVector:
      type: array
      description: |
        Single vector result as defined here: https://prometheus.io/docs/prometheus/latest/querying/api/#scalars
      items:
        type: string
      example:
        - '1678128445.119'
        - '0.033200143'
    APIError:
      description: |
        RFC 9457 Problem Details for HTTP APIs.
        Provides a standardized format for conveying error details in HTTP responses.
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          $ref: '#/components/schemas/ErrorType'
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Resource Not Found
        status:
          type: integer
          description: The HTTP status code
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
          example: The requested cluster could not be found.
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence
        context:
          description: |
            Additional context-specific information about the error.
            Structure depends on error type (inferred from the 'type' URN):
            - urn:aerospike:errors:resource:* → ResourceErrorContext
            - urn:aerospike:errors:validation:* → ValidationErrorContext
            - other error types → generic object
          anyOf:
            - $ref: '#/components/schemas/ResourceErrorContext'
            - $ref: '#/components/schemas/ValidationErrorContext'
            - type: object
              additionalProperties: true
        message:
          type: string
          deprecated: true
          description: |
            Developer-friendly message explaining the error.
            Deprecated: Use 'detail' field instead.
          example: The requested cluster could not be found.
    ErrorType:
      type: string
      description: |
        URN-based error type identifiers following the pattern:
        urn:aerospike:errors:{category}:{specific}

        Resource information (cluster, database, organization, etc.) is provided
        in the ProblemDetails context field, not in the URN.
      enum:
        - urn:aerospike:errors:auth:unauthorized
        - urn:aerospike:errors:auth:token-expired
        - urn:aerospike:errors:resource:not-found
        - urn:aerospike:errors:resource:already-exists
        - urn:aerospike:errors:validation:failed
        - urn:aerospike:errors:system:internal
        - urn:aerospike:errors:system:unavailable
        - urn:aerospike:errors:ratelimit:exceeded
    ResourceErrorContext:
      type: object
      description: Context for resource-related errors (not-found, already-exists)
      properties:
        resource:
          type: string
          description: Type of resource (e.g., cluster, database, organization)
          example: cluster
        id:
          type: string
          description: Identifier of the resource
          example: abc-123
    ValidationErrorContext:
      type: object
      description: Structured context for validation errors
      properties:
        missing:
          type: array
          description: JSON Pointer paths to missing required fields
          items:
            type: string
          example:
            - /user/email
            - /user/password
            - /user/firstName
        invalid:
          type: array
          description: Details about invalid field values
          items:
            $ref: '#/components/schemas/InvalidFieldError'
    InvalidFieldError:
      type: object
      required:
        - field
        - type
      properties:
        field:
          type: string
          description: JSON Pointer path to the invalid field
          example: /user/phoneNumber
        type:
          type: string
          format: uri
          description: URN identifying the specific validation error type
          enum:
            - urn:aerospike:errors:validation:failed
            - urn:aerospike:errors:validation:invalid-phone-format
            - urn:aerospike:errors:validation:invalid-email-format
            - urn:aerospike:errors:validation:invalid-date-format
            - urn:aerospike:errors:validation:invalid-url-format
            - urn:aerospike:errors:validation:out-of-range
            - urn:aerospike:errors:validation:too-long
            - urn:aerospike:errors:validation:too-short
          example: urn:aerospike:errors:validation:failed
        description:
          type: string
          description: An optional human-readable description of the validation error
    UserSchema:
      description: A user schema
      allOf:
        - $ref: '#/components/schemas/UserReadableSchema'
        - $ref: '#/components/schemas/PersonNamesSchema'
      required:
        - id
        - firstName
        - lastName
        - email
        - createdAt
    UserWriteableSchema:
      $ref: '#/components/schemas/PersonNamesSchema'
    UserReadableSchema:
      description: A user's readable properties
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - email
        - createdAt
    MemberCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            members:
              type: array
              items:
                $ref: '#/components/schemas/MemberSchema'
          required:
            - members
    MemberSchema:
      allOf:
        - $ref: '#/components/schemas/UserSchema'
        - properties:
            role:
              $ref: '#/components/schemas/OrgMemberRole'
          required:
            - role
    OrgMemberRole:
      type: string
      description: Role of organization member
      enum:
        - OrgAdmin
        - OrgOwner
    PersonNamesSchema:
      properties:
        firstName:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - example: Joanne
        lastName:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - example: Doe
      required:
        - firstName
        - lastName
    NameValidation:
      type: string
      minLength: 1
      maxLength: 100
      pattern: \S+
    VPCPeeringCreateSchema:
      allOf:
        - type: object
        - description: Schema for creating a VPC peering connection
        - properties:
            vpcId:
              $ref: '#/components/schemas/VpcId'
            cidrBlock:
              $ref: '#/components/schemas/CidrBlock'
            accountId:
              $ref: '#/components/schemas/AccountId'
            region:
              $ref: '#/components/schemas/Region'
            isSecureConnection:
              $ref: '#/components/schemas/IsSecureConnection'
        - required:
            - vpcId
            - cidrBlock
            - accountId
            - region
            - isSecureConnection
    VPCPeeringSchema:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - type: object
        - description: Response with information about a VPC peering connection
        - properties:
            accountId:
              $ref: '#/components/schemas/AccountId'
            vpcId:
              $ref: '#/components/schemas/VpcId'
            region:
              $ref: '#/components/schemas/Region'
            status:
              $ref: '#/components/schemas/VPCPeeringStatus'
            peeringId:
              type: string
              description: The AWS-generated ID of the peering connection (PCX ID)
              example: pcx-1410263943e464f4a
            cidrBlock:
              $ref: '#/components/schemas/CidrBlock'
            privateHostedZoneId:
              type: string
              description: The ID of the private hosted zone that the VPC should associate with
              example: Z04089311NGVVH0FO3QGG
            isSecureConnection:
              $ref: '#/components/schemas/IsSecureConnection'
    VpcPeeringCollectionSchema:
      description: Collection of VPC peering connections
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            vpcPeerings:
              type: array
              items:
                $ref: '#/components/schemas/VPCPeeringSchema'
          required:
            - vpcPeerings
    IsSecureConnection:
      type: boolean
      description: flag to set up tls or non tls vpc peering connection
      default: true
    Region:
      type: string
      description: Region where the client VPC is deployed
      example: us-east-1
      pattern: ^[a-z]{2}-[a-z]+-\d+$
      default: us-east-1
    VpcId:
      x-go-name: VPCId
      type: string
      description: The ID of the client VPC to peer with
      example: vpc-0123456789abcdef0
      pattern: ^vpc-([0-9a-f]{8}|[0-9a-f]{17})$
    AccountId:
      type: string
      description: The ID of the account where the client VPC is deployed
      example: '123456789012'
      pattern: ^\d{12}$
    CidrBlock:
      type: string
      description: The client VPC's CIDR block where routing will take place
      example: 192.168.0.0/16
      pattern: ^\d{1,3}(\.\d{1,3}){3}\/\d{1,2}$
    VPCPeeringStatus:
      type: string
      description: Status of the VPC peering connection
      enum:
        - initiating-request
        - pending-acceptance
        - not-operable
        - provisioning
        - active
        - rejected
        - expired
        - failed
        - deleting
        - deleted
    UserCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/UserSchema'
    SecretSchema:
      description: A secret
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          $ref: '#/components/schemas/SecretName'
        description:
          $ref: '#/components/schemas/SecretDescription'
        createdAt:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - createdAt
    SecretCreateSchema:
      description: A secret
      properties:
        name:
          $ref: '#/components/schemas/SecretName'
        description:
          $ref: '#/components/schemas/SecretDescription'
        value:
          type: string
          description: The value of the secret
      required:
        - name
        - value
    SecretName:
      type: string
      description: The name of the secret. Must comply with RFC 1035.
      example: my-secret1
      pattern: ^[a-zA-Z]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?$
      maxLength: 63
    SecretDescription:
      type: string
      description: The description of the secret
      default: ''
      maxLength: 250
    SecretCollectionSchema:
      description: A collection of secrets
      allOf:
        - $ref: '#/components/schemas/CollectionCommonWithPagination'
        - type: object
          properties:
            secrets:
              type: array
              items:
                $ref: '#/components/schemas/SecretSchema'
          required:
            - secrets
    CloudProviderInstanceTypeFilter:
      type: object
      properties:
        cloudProvider:
          type: string
          example: aws
        region:
          type: string
          example: us-east-1
        minDisks:
          type: integer
          minimum: 0
        minStorageGiB:
          type: integer
          minimum: 0
        minMemoryGiB:
          type: integer
          minimum: 0
    PricingRatesJSONResponse:
      type: object
      description: Pricing rates organized by machine type
      additionalProperties:
        $ref: '#/components/schemas/PricingRateJSONResponse'
      example:
        m5.large:
          aws_price_per_hour: 0.096
          aerospike_capacity_units: 1
          aerospike_capacity_unit_fee: 0.05
          total_solution_price_per_hour: 0.146
        r6g.xlarge:
          aws_price_per_hour: 0.252
          aerospike_capacity_units: 2
          aerospike_capacity_unit_fee: 0.06
          total_solution_price_per_hour: 0.372
    PricingRateJSONResponse:
      type: object
      description: Pricing rate information for a machine type
      properties:
        aws_price_per_hour:
          type: number
          format: double
          description: AWS price per hour for the machine type
          example: 0.096
        aerospike_capacity_units:
          type: integer
          format: int32
          description: Number of Aerospike capacity units
          example: 1
        aerospike_capacity_unit_fee:
          type: number
          format: double
          description: Fee per Aerospike capacity unit
          example: 0.05
        total_solution_price_per_hour:
          type: number
          format: double
          description: Total solution price per hour (AWS + Aerospike)
          example: 0.146
      required:
        - aws_price_per_hour
        - aerospike_capacity_units
        - aerospike_capacity_unit_fee
        - total_solution_price_per_hour
    Logging:
      type: object
      properties:
        logBucket:
          type: string
          description: The ARN of the S3 bucket the logs reside in
          example: arn:aws:s3:::db_logs
          readOnly: true
        authorizedRoles:
          type: array
          description: A list of role ARNs authorized to read the log bucket
          items:
            type: string
            pattern: ^(arn:aws:(iam|sts)::[0-9]{12}:(root|role/[^/]+(/[^/]+)*|user/[^/]+(/[^/]+)*|assumed-role/[^/]+/[^/]+|federated-user/[^/]+)|[0-9]{12})$
          example:
            - arn:aws:iam::123456789012:role/ASLogReader
    NetworkStorage:
      oneOf:
        - title: gp2
          type: object
          required:
            - type
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - gp2
              description: General Purpose SSD (gp2)
            sizeInGB:
              type: integer
              minimum: 1
              description: Size of the EBS volume in gigabytes
          additionalProperties: false
        - title: gp3
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - gp3
              description: General Purpose SSD (gp3)
            iops:
              type: integer
              minimum: 3000
              maximum: 16000
              description: IOPS for gp3 (min 3000, max 16000). Max 500 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 1
              description: Size of the EBS volume in gigabytes
          additionalProperties: false
        - title: io1
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - io1
              description: Provisioned IOPS SSD (io1)
            iops:
              type: integer
              minimum: 100
              maximum: 64000
              description: IOPS for io1 (min 100, max 64000). Max 50 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 4
              description: Size of the EBS volume in gigabytes (min 4 for io1)
          additionalProperties: false
        - title: io2
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - io2
              description: Provisioned IOPS SSD (io2)
            iops:
              type: integer
              minimum: 100
              maximum: 64000
              description: IOPS for io2 (min 100, max 64000). Max 1000 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 4
              description: Size of the EBS volume in gigabytes (min 4 for io2)
          additionalProperties: false
    Infrastructure:
      type: object
      additionalProperties: false
      required:
        - provider
        - instanceType
        - region
        - availabilityZoneCount
      properties:
        provider:
          type: string
          description: Cloud provider for the infrastructure
          enum:
            - aws
            - gcp
        instanceType:
          type: string
          description: Instance type for vertical scaling
          example: m5d.large
        region:
          type: string
          description: AWS region where resources will be deployed
          example: us-east-1
        availabilityZoneCount:
          type: integer
          minimum: 1
          maximum: 3
          description: Number of availability zones to spread resources across
        zoneIds:
          type: array
          items:
            type: string
          example:
            - use1-az1
          description: AWS availability zone IDs for aerospike nodes
        cidrBlock:
          type: string
          description: The /19 IPv4 CIDR block for the database VPC
          example: 10.128.0.0/19
          pattern: ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)/19$
        networkId:
          type: string
          description: The network ID of the database
          example: vpc-01234567890123456
          readOnly: true
        accountId:
          type: string
          description: The account ID of the database
          example: '123456789012'
          readOnly: true
        networkAttachedStorage:
          $ref: '#/components/schemas/NetworkStorage'
    AerospikeCloudShared:
      type: object
      required:
        - clusterSize
        - dataStorage
      properties:
        clusterSize:
          type: integer
          minimum: 1
          description: Number of nodes in the cluster (horizontal scaling)
        dataStorage:
          type: string
          enum:
            - memory
            - local-disk
            - network-storage
    AerospikeCloudMemory:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: In-memory database
          type: object
          properties:
            dataStorage:
              enum:
                - memory
            dataResiliency:
              type: string
              enum:
                - local-disk
                - network-storage
              description: Persist data using local disks or network storage. If omitted, data is stored in-memory without persistence.
          required:
            - dataStorage
    AerospikeCloudLocalDisk:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: Local disk database
          type: object
          properties:
            dataStorage:
              enum:
                - local-disk
            dataResiliency:
              type: string
              enum:
                - network-storage
              description: Persist data using network storage. If omitted, data is stored only on local SSDs without additional persistence.
          required:
            - dataStorage
    AerospikeCloudNetworkStorage:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: Network storage database
          type: object
          properties:
            dataStorage:
              enum:
                - network-storage
          required:
            - dataStorage
    AerospikeCloud:
      anyOf:
        - $ref: '#/components/schemas/AerospikeCloudMemory'
        - $ref: '#/components/schemas/AerospikeCloudLocalDisk'
        - $ref: '#/components/schemas/AerospikeCloudNetworkStorage'
    database_spec:
      title: Database Configuration Schema
      description: Base schema for database configuration. Should not be used directly.
      type: object
      required:
        - infrastructure
        - aerospikeCloud
        - aerospikeServer
      properties:
        logging:
          $ref: '#/components/schemas/Logging'
        infrastructure:
          $ref: '#/components/schemas/Infrastructure'
        aerospikeCloud:
          $ref: '#/components/schemas/AerospikeCloud'
        aerospikeServer:
          description: Aerospike server configuration
          type: object
          additionalProperties: false
          properties:
            service:
              type: object
              additionalProperties: false
              properties:
                advertise-ipv6:
                  type: boolean
                  description: ''
                auto-pin:
                  type: string
                  description: ''
                  enum:
                    - none
                    - cpu
                    - numa
                    - adq
                batch-index-threads:
                  type: integer
                  minimum: 1
                  maximum: 256
                  description: ''
                batch-max-buffers-per-queue:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                batch-max-requests:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                batch-max-unused-buffers:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                cluster-name:
                  type: string
                  description: ''
                  readOnly: true
                debug-allocations:
                  type: boolean
                  description: ''
                disable-udf-execution:
                  type: boolean
                  description: ''
                enable-benchmarks-fabric:
                  type: boolean
                  description: ''
                enable-health-check:
                  type: boolean
                  description: ''
                enable-hist-info:
                  type: boolean
                  description: ''
                enforce-best-practices:
                  type: boolean
                  description: ''
                  readOnly: true
                feature-key-file:
                  type: string
                  description: ''
                  readOnly: true
                feature-key-files:
                  type: array
                  items:
                    type: string
                  description: ''
                  readOnly: true
                group:
                  type: string
                  description: ''
                  readOnly: true
                indent-allocations:
                  type: boolean
                  description: ''
                info-max-ms:
                  type: integer
                  minimum: 500
                  maximum: 10000
                  description: ''
                info-threads:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                keep-caps-ssd-health:
                  type: boolean
                  description: ''
                  readOnly: true
                log-local-time:
                  type: boolean
                  description: ''
                  readOnly: true
                log-millis:
                  type: boolean
                  description: ''
                  readOnly: true
                microsecond-histograms:
                  type: boolean
                  description: ''
                  readOnly: true
                migrate-fill-delay:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                migrate-max-num-incoming:
                  type: integer
                  minimum: 0
                  maximum: 256
                  description: ''
                  readOnly: true
                migrate-threads:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: ''
                  readOnly: true
                min-cluster-size:
                  type: integer
                  minimum: 0
                  maximum: 256
                  description: ''
                  readOnly: true
                node-id:
                  type: string
                  description: ''
                  readOnly: true
                node-id-interface:
                  type: string
                  description: ''
                  readOnly: true
                os-group-perms:
                  type: boolean
                  description: ''
                  readOnly: true
                pidfile:
                  type: string
                  description: ''
                  readOnly: true
                poison-allocations:
                  type: boolean
                  description: ''
                proto-fd-idle-ms:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                proto-fd-max:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                quarantine-allocations:
                  type: integer
                  minimum: 0
                  maximum: 100000000
                  description: ''
                query-max-done:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  description: ''
                query-threads-limit:
                  type: integer
                  minimum: 1
                  maximum: 1024
                  description: ''
                run-as-daemon:
                  type: boolean
                  description: ''
                  readOnly: true
                secrets-address-port:
                  type: string
                  description: ''
                  readOnly: true
                secrets-tls-context:
                  type: string
                  description: ''
                  readOnly: true
                secrets-uds-path:
                  type: string
                  description: ''
                  readOnly: true
                service-threads:
                  type: integer
                  minimum: 1
                  maximum: 4096
                  description: ''
                sindex-builder-threads:
                  type: integer
                  minimum: 1
                  maximum: 32
                  description: ''
                sindex-gc-period:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                stay-quiesced:
                  type: boolean
                  description: ''
                  readOnly: true
                ticker-interval:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                tls-refresh-period:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                transaction-max-ms:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                transaction-retry-ms:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                user:
                  type: string
                  description: ''
                  readOnly: true
                vault-ca:
                  type: string
                  description: ''
                  readOnly: true
                vault-namespace:
                  type: string
                  description: ''
                  readOnly: true
                vault-path:
                  type: string
                  description: ''
                  readOnly: true
                vault-token-file:
                  type: string
                  description: ''
                  readOnly: true
                vault-url:
                  type: string
                  description: ''
                  readOnly: true
                work-directory:
                  type: string
                  description: ''
                  readOnly: true
            logging:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  name:
                    type: string
                    default: ' '
                    description: ''
                    pattern: ^[a-zA-Z0-9- ]*$
                    minLength: 1
                  misc:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  alloc:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  arenax:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  hardware:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  msg:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  os:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  secrets:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  socket:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  tls:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  vault:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  vmapx:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  xmem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  aggr:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  appeal:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  as:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  audit:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  batch:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  batch-sub:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  bin:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  config:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  clustering:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  deprecation:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv-mem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv_pmem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv_ssd:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  exchange:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  exp:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  fabric:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  flat:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  geo:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  hb:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  health:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
[...]
