/aerolab-linux-*
/aerolab-macos-*
/aerospike-server-enterprise-*.tgz
/log/*
/CA/*
/log
/CA
/embed_*.txt
/notarization_progress*
/notarize_result*
/make.env
/myFunction.zip
/gcpFunction.txt
/gcpMod.txt
/agiproxy.tgz