openapi: 3.0.3
info:
  title: Aerospike Cloud Public API
  version: 2.0.0
  description: Public API for the Aerospike Cloud offering
  contact:
    name: Aerospike Cloud
servers:
  - url: https://api.aerospike.cloud/v2
security:
  - publicOauth2: []
tags:
  - name: cloud-provider
    description: |
      APIs which facilitate cloud-provider actions.
  - name: database
    description: |
      APIs which facilitate database management as a service.
  - name: database-credential
    description: |
      APIs which facilitate api-key management.
  - name: notification
    description: |
      APIs which facilitate notification management.
  - name: organization
    description: |
      APIs which facilitate self service organization management
  - name: secret
    description: |
      APIs which facilitate secret management.
  - name: storage-class
    description: |
      APIs which facilitate storage-class actions.
paths:
  /cloud-providers:
    get:
      summary: Get supported cloud providers.
      description: |
        Returns a list of supported cloud providers and regions.
      security:
        - publicOauth2: []
      tags:
        - cloud-provider
      operationId: getCloudProviders
      parameters:
        - in: query
          name: filter
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/CloudProviderInstanceTypeFilter'
          description: Optional filters for cloud provider, region, and instance type characteristics.
      responses:
        '200':
          $ref: '#/components/responses/CloudProviderInfoResultSet'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
  /cloud-providers/{cloudProviderId}/instance-types/{instanceTypeId}:
    get:
      summary: Get specs for an instance type.
      description: Returns the specs for a given instance type.
      security:
        - publicOauth2: []
      tags:
        - cloud-provider
      operationId: getCloudProviderInstanceTypeSpecs
      parameters:
        - $ref: '#/components/parameters/CloudProviderIdParam'
        - $ref: '#/components/parameters/InstanceTypeIdParam'
      responses:
        '200':
          $ref: '#/components/responses/InstanceTypeSpecsResult'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization:
    get:
      summary: Get your organization
      description: Get your organization
      security:
        - publicOauth2:
            - read:org
      tags:
        - organization
      operationId: getOrganization
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/notifications:
    get:
      summary: Get notifications of your organization
      description: Returns the last 25 notification for an organization.
      security:
        - publicOauth2:
            - read:org
      tags:
        - notification
      operationId: getNotifications
      responses:
        '200':
          $ref: '#/components/responses/Notifications'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/notifications/clear:
    post:
      summary: Mark all notifications of your organization as read
      description: Mark all notifications of your organization as read.
      security:
        - publicOauth2:
            - update:org
      tags:
        - notification
      operationId: clearNotifications
      responses:
        '200':
          $ref: '#/components/responses/Notifications'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/members:
    get:
      summary: List org members
      description: List members of the organization.
      security:
        - publicOauth2:
            - read:org
      tags:
        - organization
      operationId: listOrgMembers
      responses:
        '200':
          $ref: '#/components/responses/MemberCollection'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /organization/members/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserId'
    delete:
      summary: Remove org member
      description: Removes a member from the organization.
      security:
        - publicOauth2:
            - update:org
      tags:
        - organization
      operationId: removeOrgMember
      responses:
        '204':
          $ref: '#/components/responses/Empty'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalError'
  /api-keys:
    get:
      summary: Get all API keys.
      description: Get all API keys.
      security:
        - publicOauth2:
            - read:api-key
      tags:
        - api-key
      operationId: listApiKeys
      responses:
        '200':
          $ref: '#/components/responses/ApiKeyCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
    post:
      summary: Create a new API key
      description: Create a new API key
      security:
        - publicOauth2:
            - create:api-key
      tags:
        - api-key
      operationId: createApiKey
      requestBody:
        $ref: '#/components/requestBodies/CreateApiKey'
      responses:
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /api-keys/{clientId}:
    delete:
      summary: Delete an API key
      description: Delete an API key
      security:
        - publicOauth2:
            - delete:api-key
      parameters:
        - $ref: '#/components/parameters/ApiKeyClientIdParam'
      tags:
        - api-key
      operationId: deleteApiKey
      responses:
        '204':
          description: Successfully deleted the API key.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /secrets:
    get:
      summary: List all secrets.
      description: Retrieves a list of all secrets accessible to the user
      security:
        - publicOauth2:
            - read:secret
      tags:
        - secret
      operationId: listSecrets
      responses:
        '200':
          $ref: '#/components/responses/SecretCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create a new secret
      description: Create a new secret
      security:
        - publicOauth2:
            - create:secret
      tags:
        - secret
      operationId: createSecret
      requestBody:
        $ref: '#/components/requestBodies/SecretCreate'
      responses:
        '202':
          $ref: '#/components/responses/Secret'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /secrets/{secretId}:
    parameters:
      - $ref: '#/components/parameters/SecretId'
    get:
      description: Get an existing secret by Id
      security:
        - publicOauth2:
            - read:secret
      tags:
        - secret
      summary: Get an existing secret
      operationId: getSecretById
      responses:
        '200':
          $ref: '#/components/responses/Secret'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete a secret
      description: Delete a secret.
      security:
        - publicOauth2:
            - delete:secret
      tags:
        - secret
      operationId: deleteSecretById
      responses:
        '204':
          description: Successfully deleted the secret.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases:
    get:
      summary: Get all databases.
      description: |-
        Retrieves a list of all databases accessible to the user.
        The list can be filtered by status.
      security:
        - publicOauth2:
            - read:database
      tags:
        - database
      operationId: getDatabases
      parameters:
        - name: status_ne
          in: query
          description: |-
            Filter databases to exclude any matching one or more of the specified statuses.
            Provide statuses as a single comma-separated list (e.g., ?status_ne=deleting,failed).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DatabaseStatus'
            uniqueItems: true
          example:
            - decommissioned
            - decommissioning
      responses:
        '200':
          $ref: '#/components/responses/DatabaseCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
        '501':
          $ref: '#/components/responses/NotImplementedError'
    post:
      summary: Create a new database
      description: Create a new database
      security:
        - publicOauth2:
            - create:database
      tags:
        - database
      operationId: createDatabase
      requestBody:
        $ref: '#/components/requestBodies/DatabaseCreate'
      responses:
        '202':
          $ref: '#/components/responses/Database'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
    get:
      description: Get an existing database by Id
      security:
        - publicOauth2:
            - read:database
      tags:
        - database
      summary: Get an existing database
      operationId: getDatabaseById
      responses:
        '200':
          $ref: '#/components/responses/DatabaseFull'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Update an existing database
      description: Update an existing database.
      security:
        - publicOauth2:
            - update:database
      tags:
        - database
      operationId: updateDatabaseById
      requestBody:
        $ref: '#/components/requestBodies/DatabaseUpdate'
      responses:
        '202':
          $ref: '#/components/responses/Database'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete a database
      description: Delete a database.
      security:
        - publicOauth2:
            - delete:database
      tags:
        - database
      operationId: deleteDatabaseById
      responses:
        '204':
          description: Successfully deleted the database.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}/metrics:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
    get:
      summary: Get database metrics
      description: Returns all metrics for the given database
      security:
        - publicOauth2:
            - read:database
      tags:
        - database
      operationId: getDatabaseMetrics
      responses:
        '200':
          $ref: '#/components/responses/DatabaseMetrics'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}/credentials:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
    get:
      summary: Get all credentials for a database
      description: Get all credentials for a databases.
      security:
        - publicOauth2:
            - read:database
      tags:
        - database-credential
      operationId: getDatabaseCredentials
      responses:
        '200':
          $ref: '#/components/responses/DatabaseCredentialsCollection'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create new credentials for a database
      description: |
        Create a new API key for a database.

        Supports `read`, `write`, `read-write` privileges for CORE databases. Defaults to `read-write`.
      security:
        - publicOauth2:
            - update:database
      tags:
        - database-credential
      operationId: createDatabaseCredentials
      requestBody:
        $ref: '#/components/requestBodies/DatabaseCredentialsWithPassword'
      responses:
        '201':
          $ref: '#/components/responses/DatabaseCredentialsPasswordAndId'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}/credentials/{credentialsId}:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
      - $ref: '#/components/parameters/DatabaseCredentialsId'
    delete:
      summary: Delete credentials for a database
      description: Deletes credentials for a database.
      security:
        - publicOauth2:
            - update:database
      tags:
        - database-credential
      operationId: deleteCredentialsById
      responses:
        '204':
          description: Successfully deleted the credential.
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}/private-access:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
  /databases/{databaseId}/private-access/consumers:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
  /databases/{databaseId}/private-access/consumers/{consumerId}:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
  /databases/{databaseId}/vpc-peerings:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
    post:
      summary: Create a single VPC Peering connection for the database
      description: Create a single VPC Peering connection for the database.
      security:
        - publicOauth2:
            - update:database
      tags:
        - database-vpc-peerings
      operationId: createVPCPeerings
      requestBody:
        $ref: '#/components/requestBodies/VPCPeeringCreate'
      responses:
        '201':
          $ref: '#/components/responses/VPCPeering'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      summary: Get all VPC peering information in the database
      description: Get all VPC peering information in the database
      security:
        - publicOauth2:
            - read:database
      tags:
        - database-vpc-peerings
      operationId: getVPCPeerings
      responses:
        '200':
          $ref: '#/components/responses/VPCPeeringCollection'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /databases/{databaseId}/vpc-peerings/{vpcId}:
    parameters:
      - $ref: '#/components/parameters/DatabaseId'
      - $ref: '#/components/parameters/VpcId'
    delete:
      summary: Delete a VPC peering connection in the database
      description: DDelete a VPC peering connection in the database.
      security:
        - publicOauth2:
            - delete:database
      tags:
        - database-vpc-peerings
      operationId: deleteVPCPeerings
      responses:
        '204':
          description: Successfully deleted a VPC peering connection
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /topologies:
    post:
      summary: Create Topology
      description: Creates a new XDR topology for managing replication between Aerospike Cloud databases
      operationId: createTopology
      tags:
        - topologies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTopologyRequest'
      responses:
        '200':
          description: Topology creation initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topology'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      summary: List Topologies
      description: Lists all topologies for the organization
      operationId: listTopologies
      tags:
        - topologies
      responses:
        '200':
          description: List of topologies
          content:
            application/json:
              schema:
                type: object
                properties:
                  topologies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Topology'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalError'
  /topologies/{topologyId}:
    get:
      summary: Get Topology
      description: Retrieves details of a specific topology
      operationId: getTopology
      tags:
        - topologies
      parameters:
        - name: topologyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Topology details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topology'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Update Topology
      description: Updates an existing topology configuration
      operationId: updateTopology
      tags:
        - topologies
      parameters:
        - name: topologyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topology'
      responses:
        '200':
          description: Topology updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topology'
        '400':
          $ref: '#/components/responses/InvalidInputError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete Topology
      description: Deletes a topology and removes all associated configurations
      operationId: deleteTopology
      tags:
        - topologies
      parameters:
        - name: topologyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Topology deleted successfully
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    ApiKeyClientIdParam:
      name: clientId
      in: path
      description: API key client ID
      required: true
      schema:
        type: string
    DatabaseCredentialsId:
      name: credentialsId
      in: path
      description: A database credentials ID.
      required: true
      schema:
        type: string
    DatabaseId:
      name: databaseId
      in: path
      description: A database ID.
      required: true
      schema:
        type: string
        format: uuid
    VpcId:
      name: vpcId
      in: path
      description: The ID of the VPC to create the peering connection with
      required: true
      schema:
        type: string
        description: The ID of the VPC to delete the peering connection with
        example: vpc-0123456789abcdef0
        pattern: ^vpc-([0-9a-f]{8}|[0-9a-f]{17})$
    UserId:
      name: userId
      in: path
      description: A user ID.
      required: true
      schema:
        type: string
        format: uuid
    SecretId:
      name: secretId
      in: path
      description: A secret ID.
      required: true
      schema:
        type: string
        format: uuid
    CloudProviderIdParam:
      name: cloudProviderId
      in: path
      description: ID of a cloud provider.
      required: true
      schema:
        $ref: '#/components/schemas/CloudProviderId'
    InstanceTypeIdParam:
      name: instanceTypeId
      in: path
      description: ID of an instance type.
      required: true
      schema:
        type: string
        example: i4i.large
  requestBodies:
    CreateApiKey:
      description: Create an API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateApiKey'
    DatabaseCredentialsWithPassword:
      description: Create database credentials request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseCredentialsWithPasswordSchema'
    DatabaseUpdate:
      description: Update database request
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/DatabaseMutableConfiguration'
    DatabaseCreate:
      description: |
        Create database request. Either `storageEngine` or `spec` must be provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseCreate'
          example:
            name: a-simple-cluster
            infrastructure:
              provider: aws
              instanceType: i4i.large
              region: us-east-1
              availabilityZoneCount: 2
            aerospikeCloud:
              clusterSize: 2
              dataStorage: memory
            aerospikeServer:
              namespaces:
                - name: test
    VPCPeeringCreate:
      description: Create VPC Peering request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCPeeringCreateSchema'
    SecretCreate:
      description: Create a secret
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretCreateSchema'
  responses:
    CloudProviderInfoResultSet:
      description: Set of available cloud providers
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CloudProviderInfoResultSet'
    InstanceTypeSpecsResult:
      description: Instance type specs
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceTypeSpecsResult'
    Notifications:
      description: A collection of notifications
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CollectionCommon'
              - $ref: '#/components/schemas/NotificationCollection'
    ApiKeyCollection:
      description: A collection of API keys
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyCollectionSchema'
    Organization:
      description: An organization
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationExisting'
    DatabaseCollection:
      description: A collection of databases
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseCollectionSchema'
    Database:
      description: |
        A database creation, modification, or deletion request has been successfully processed and the current state of
        applying the requested change is returned.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseExisting'
    DatabaseCredentialsPasswordAndId:
      description: |
        New database credentials.
        **Note:** This is the only time the password is returned. If the password is lost new credentials should be generated.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseCredentialsWithPasswordAndIdSchema'
    DatabaseCredentialsCollection:
      description: A collection of database credentials
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CollectionCommon'
              - $ref: '#/components/schemas/DatabaseCredentialsCollectionSchema'
    DatabaseMetrics:
      description: |
        A database metrics request response.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseMetricsFull'
    DatabaseFull:
      description: |
        A database creation, modification, or deletion request has been successfully processed and the current state of
        applying the requested change is returned including metrics.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatabaseExisting'
    MemberCollection:
      description: A collection of user org members
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MemberCollectionSchema'
    Empty:
      description: An empty response
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            type: object
    UnauthenticatedError:
      description: Access token is missing or invalid
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
          example:
            code: invalid_token
            message: The access token expired.
    UnauthorizedError:
      description: Permission denied
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    ConflictError:
      description: Conflict error
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    InvalidInputError:
      description: Invalid input
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    NotFound:
      description: Resource not found
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    NotImplementedError:
      description: The endpoint has not been implemented yet.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: This endpoint has not been implemented yet.
    InternalError:
      description: Internal Server Error
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    TooManyRequestsError:
      description: Too many requests
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    VPCPeering:
      description: A VPC Peering connection
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VPCPeeringSchema'
    VPCPeeringCollection:
      description: A collection of VPC Peering connections
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VpcPeeringCollectionSchema'
    Secret:
      description: A secret
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretSchema'
    SecretCollection:
      description: A collection of secrets
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretCollectionSchema'
  schemas:
    ApiKeyCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            apiKeys:
              type: array
              items:
                $ref: '#/components/schemas/ApiKeySchema'
          required:
            - apiKeys
    ApiKeySchema:
      type: object
      description: An API key
      properties:
        name:
          type: string
        clientId:
          type: string
      required:
        - name
        - clientId
    CreateApiKey:
      type: object
      description: Create an API key
      properties:
        name:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - description: A custom name for the API key
              example: my dev key
      required:
        - name
    CloudProviderInfoResultSet:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/CloudProviderInfo'
    CloudProviderInfo:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CloudProviderId'
        name:
          type: string
          example: Amazon Web Services (AWS)
          description: Human friendly (i.e. branded) name of the cloud provider.
          readOnly: true
        regions:
          type: array
          items:
            $ref: '#/components/schemas/CloudProviderRegion'
      required:
        - id
        - name
        - regions
    CloudProviderRegion:
      readOnly: true
      type: object
      properties:
        name:
          type: string
          example: us-east-1
        instanceTypes:
          type: array
          items:
            $ref: '#/components/schemas/InstanceTypeSpecsResult'
      required:
        - name
        - instanceTypes
    InstanceTypeSpecsResult:
      type: object
      properties:
        instanceType:
          type: string
          example: trn1.32xlarge
          readOnly: true
        vcpus:
          type: integer
          example: 128
          readOnly: true
        memoryGib:
          type: integer
          example: 512
          readOnly: true
        localStorage:
          $ref: '#/components/schemas/LocalStorage'
        supportedArchitectures:
          type: array
          items:
            type: string
            enum:
              - x86_64
              - arm64
          readOnly: true
      required:
        - name
        - instanceType
        - vcpus
        - memoryGib
        - localStorage
        - supportedArchitectures
    LocalStorage:
      type: object
      properties:
        numberOfDisks:
          type: integer
          example: 4
        diskSizeGib:
          type: integer
          example: 1900
        totalSizeGib:
          type: integer
          example: 7600
      readOnly: true
      required:
        - numberOfDisks
        - diskSizeGib
        - totalSizeGib
    TemplateSchemaCollection:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/TemplateSchemaCollectionItem'
    TemplateSpec:
      type: object
      properties:
        spec:
          nullable: true
          example:
            id: aws_m5d_xlarge
            name: AWS General Purpose m5d.xlarge
            infrastructure:
              provider: aws
              instance_vm: m5d.xlarge
            storage_partitions:
              primary:
                device_count: 1
                partitions: 1
            aerospike_conf:
              min_cluster_size: 2
              proto_fd_max: 15000
              query_threads_limit: 64
              namespaces:
                - memory: 9G
                  storage_engine: device
                  device_count: 1
                  replication_factor: 3
                  write_block_size: 128K
                  partition_tree_sprigs: 8192
                  single_query_threads: 2
                  background_query_max_rps: 5000
                  read_page_cache: true
                  encryption: aes-256
                  xdr_destinations: 1
                  xdr_max_throughput: 1000
                  xdr_transaction_queue_size: 16384
            node_specs:
              vcpu: 4
              ram_gib: 15
              net_mbps: 1042
              net_pps: 104167
              max_unique_data_gib: 23
              max_objects: 27333333
              max_read_ops: 4333
              max_write_ops: 1000
              backup_rps: 1000
              max_si_entries: 27333333
            scaling:
              failure_tolerance_pct: 33
              hscale_increment: 3
              vscale_previous: null
              vscale_next: null
              thresholds:
                as_client_connections: 9000
                as_storage_pct: 50
                as_memory_pct: 60
                sys_cpu_pct: 50
                sys_net_mbps: 625
                sys_net_pps: 65000
                sys_primary_read_iops: 5333
                sys_primary_write_iops: 30
            alerting:
              client_connections_warning: 9000
              client_connections_critical: 13500
            client_policy:
              max_nodes: 45
              max_conns_per_node: 200
              min_conns_per_node: 150
              error_rate: 5
              connect_timeout: 5000
              max_socket_idle: 0
              timeout_delay: 3000
    TemplateSchemaCollectionItem:
      type: object
      allOf:
        - $ref: '#/components/schemas/TemplateSchema'
        - $ref: '#/components/schemas/TemplateSpec'
    TemplateSchema:
      description: A storage class for an Aerospike cluster.
      type: object
      properties:
        id:
          type: string
          description: A unique identifier used to reference the storage class.
          example: aws_low_cost_hma_01
        name:
          type: string
          description: A human friendly name for the storage class.
          example: AWS HMA 22.1
        cloudProvider:
          type: string
          description: Id of the cloud provider.
          example: aws
        clusterSize:
          type: integer
          description: The number of nodes in this cluster
          example: 3
        scaleNext:
          type: string
          description: Id of the more powerful template.
          example: aws_general_hma_02
        scalePrev:
          type: string
          description: Id of the less powerful template.
          example: aws_general_hma_00
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
      required:
        - id
        - name
        - cloudProvider
        - clusterSize
        - prices
    Price:
      type: object
      properties:
        amount:
          type: integer
          format: int64
          example: 11000
          description: Amount in cents
        currency:
          type: string
          pattern: ^[a-z][a-z][a-z]$
          example: usd
          description: ISO 4217 currency codes in lower case
        region:
          type: string
          example: us-west-1
          description: Cloud region of the price
      required:
        - amount
        - currency
        - region
    NotificationCollection:
      $ref: '#/components/schemas/NotificationsSchema'
    NotificationsSchema:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
    Notification:
      type: object
      description: |
        A notification describing describing events of a database.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        message:
          type: string
          example: database_tps_threshold_breach_80pct
        status:
          type: string
          enum:
            - NOTIFICATION_STATUS_READ
            - NOTIFICATION_STATUS_UNREAD
        source:
          type: object
          description: Source of the event e.g., db, org, user, ... for facilitating further actions
          properties:
            databaseId:
              type: string
              format: uuid
    DatabaseState:
      type: string
      enum:
        - ONLINE
        - OFFLINE
        - UNSPECIFIED
      example: ONLINE
    DatabaseStatus:
      type: string
      enum:
        - not-available
        - provisioning
        - active
        - updating
        - decommissioning
        - decommissioned
        - pausing
        - paused
        - resuming
        - action-required
        - config-error
        - usage-exceeded
        - multiple
        - unknown
      example: active
    DatabaseCreate:
      allOf:
        - properties:
            name:
              allOf:
                - $ref: '#/components/schemas/NameValidation'
                - example: My cool database
            dataPlaneVersion:
              type: string
              example: 0.0.1
              default: default
              description: Optionally specify the data plane version of the database. Otherwise the latest version will be chosen.
          required:
            - name
        - $ref: '#/components/schemas/database_spec'
    DatabaseHealth:
      type: object
      properties:
        health:
          $ref: '#/components/schemas/HealthDetails'
    HealthDetails:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/DatabaseState'
        status:
          $ref: '#/components/schemas/DatabaseStatus'
    ResourceIdentifier:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this resource within Aerospike Cloud
          example: e2e81cba-446e-4ff9-9b92-9a9992af44c6
    CloudProviderId:
      type: string
      enum:
        - aws
        - azure
        - gcp
      description: The ID of the cloud provider.
    DatabaseSchema:
      allOf:
        - type: object
          properties:
            name:
              type: string
              example: My cool database
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            dataPlaneVersion:
              type: string
              example: 0.0.1
            connectionDetails:
              $ref: '#/components/schemas/ConnectionDetails'
          required:
            - id
            - name
            - createdAt
            - updatedAt
            - status
            - dataPlaneVersion
            - connectionDetails
        - $ref: '#/components/schemas/database_spec'
    DatabaseMutableConfiguration:
      allOf:
        - type: object
          properties:
            name:
              type: string
              example: My cool database
        - $ref: '#/components/schemas/database_spec_patch'
    ConnectionDetails:
      type: object
      properties:
        host:
          type: string
          example: e2e81cba-446e-4ff9-9b92-9a9992af44c6.asdb.io
          description: |
            Host name that clients will use to connect to the database. Correlates to the `AEROSPIKE_CLOUD_HOST`
            variable in documentation and code samples.
        tlsCertificate:
          type: string
          description: |
            PEM encoded TLS certificate for the database.
    DatabaseExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/DatabaseSchema'
        - $ref: '#/components/schemas/DatabaseHealth'
    OrganizationSchema:
      allOf:
        - type: object
          description: |
            An organization. For now only includes a name, but may include additional customer / tenant details in the
            future.
          properties:
            name:
              type: string
              example: My organization
            billingId:
              type: string
              pattern: ^$|^cus_[a-zA-z0-9]+
              example: cus_OPMnlfzpujhunk
            billingPlan:
              type: string
              enum:
                - BILLING_PLAN_ENTERPRISE
              default: BILLING_PLAN_ENTERPRISE
            salesforceAccountId:
              type: string
              example: 001ak00000llBrOAAU
        - $ref: '#/components/schemas/EntitlementCollection'
        - properties:
            trial:
              $ref: '#/components/schemas/Trial'
    OrganizationExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/OrganizationSchema'
    Trial:
      properties:
        startedAt:
          type: string
          description: Milliseconds since unix epoch
          example: '1697669479000'
        expiresAt:
          type: string
          description: Milliseconds since unix epoch
          example: '0'
        terminated:
          type: boolean
          example: false
        databaseId:
          type: string
          format: uuid
    EntitlementCollection:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/Entitlement'
    Entitlement:
      properties:
        entitlementUrn:
          type: string
          pattern: ^urn:aerospike:.+
          example: urn:aerospike:node:count-general
        quantity:
          type: integer
          format: int32
          example: 3
          description: number of resources allowed
        used:
          type: integer
          format: int32
          example: 1
          description: number of resources currently in use
    CollectionCommon:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned in the result.
          example: 1
      required:
        - count
    CreatedAt:
      type: object
      description: Common timestamp fields for resources
      properties:
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the resource was created
          readOnly: true
      required:
        - createdAt
    DatabaseCredentialsWithPasswordAndIdSchema:
      allOf:
        - $ref: '#/components/schemas/DatabaseCredentialsExisting'
        - type: object
          properties:
            password:
              type: string
              format: password
              minLength: 1
              maxLength: 256
              description: Password to be used for these credentials
          required:
            - password
            - name
    DatabaseCredentialsWithPasswordSchema:
      allOf:
        - $ref: '#/components/schemas/DatabaseCredentials'
        - type: object
          properties:
            password:
              type: string
              format: password
              minLength: 8
              maxLength: 256
              description: Password to be used for these credentials
          required:
            - password
            - name
    DatabaseCredentialsExisting:
      allOf:
        - $ref: '#/components/schemas/ResourceIdentifier'
        - $ref: '#/components/schemas/DatabaseCredentials'
        - $ref: '#/components/schemas/DatabaseCredentialsStatus'
        - $ref: '#/components/schemas/CreatedAt'
    DatabaseCredentialsCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            credentials:
              type: array
              items:
                $ref: '#/components/schemas/DatabaseCredentialsExisting'
          required:
            - credentials
    DatabaseCredentials:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DatabaseCredentialsName'
        roles:
          type: array
          uniqueItems: true
          minItems: 1
          default:
            - read-write
          items:
            type: string
            enum:
              - read
              - write
              - read-write
              - read-write-udf
              - truncate
              - data-admin
              - sindex-admin
              - udf-admin
          description: A list of privileges granted to these credentials
      required:
        - name
        - roles
    DatabaseCredentialsStatus:
      properties:
        status:
          type: string
          enum:
            - creating
            - active
            - failed
            - revoked
          description: The status of a user credential
          example: active
      required:
        - status
    DatabaseCredentialsName:
      type: string
      description: The name of a database user based on https://aerospike.com/docs/database/reference/limitations/#username-and-role-name-length-and-characters
      example: a-user-name
      pattern: ^[a-zA-Z0-9_$-]+$
      not:
        enum:
          - 'null'
          - acs-admin
          - admin
          - cluster-manager
          - aerospike-prometheus-exporter
          - aerospike-collectinfo
          - dataplane-agent
          - read
          - write
          - read-write
          - read-write-udf
          - truncate
          - data-admin
          - sindex-admin
          - sys-admin
          - udf-admin
          - user-admin
      minLength: 1
      maxLength: 63
    DatabaseCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            databases:
              type: array
              items:
                $ref: '#/components/schemas/DatabaseListItem'
          required:
            - databases
    DatabaseListItem:
      $ref: '#/components/schemas/DatabaseExisting'
    DatabaseMetricsFull:
      type: object
      properties:
        uniqueData:
          $ref: '#/components/schemas/DailyMetric'
        storage:
          type: object
          properties:
            bytesMax:
              type: integer
              format: int64
            memoryMax:
              type: integer
              format: int64
            bytesUsed:
              $ref: '#/components/schemas/HourlyMetric'
            memoryUsed:
              $ref: '#/components/schemas/HourlyMetric'
            objectsUsed:
              $ref: '#/components/schemas/HourlyMetric'
        throughput:
          type: object
          properties:
            objectSizeAvg:
              type: object
              properties:
                now:
                  $ref: '#/components/schemas/MetricVector'
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
                dailyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            readTps:
              allOf:
                - $ref: '#/components/schemas/HourlyMetric'
                - $ref: '#/components/schemas/DailyMetric'
            writeTps:
              allOf:
                - $ref: '#/components/schemas/HourlyMetric'
                - $ref: '#/components/schemas/DailyMetric'
            readTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            writeTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            batchReadTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            batchWriteTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
            queryTpsSuccess:
              type: object
              properties:
                hourlyAvg:
                  $ref: '#/components/schemas/MetricRangeResult'
        latency:
          type: object
          properties:
            read:
              type: object
              properties:
                quantile95:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile99:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile999:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
            write:
              type: object
              properties:
                quantile95:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile99:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
                quantile999:
                  type: object
                  properties:
                    minutely:
                      $ref: '#/components/schemas/MetricRangeResult'
        transactions:
          type: object
          properties:
            readCount:
              type: object
              properties:
                daily:
                  $ref: '#/components/schemas/MetricRangeResult'
            writeCount:
              type: object
              properties:
                daily:
                  $ref: '#/components/schemas/MetricRangeResult'
            errors:
              type: object
              properties:
                keyBusy:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                generationFail:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                timeout:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
                recordSize:
                  type: object
                  properties:
                    hourly:
                      $ref: '#/components/schemas/MetricRangeResult'
    HourlyMetric:
      type: object
      properties:
        now:
          $ref: '#/components/schemas/MetricVector'
        hourlyAvg:
          $ref: '#/components/schemas/MetricRangeResult'
        hourlyMin:
          $ref: '#/components/schemas/MetricRangeResult'
        hourlyMax:
          $ref: '#/components/schemas/MetricRangeResult'
    DailyMetric:
      type: object
      properties:
        now:
          $ref: '#/components/schemas/MetricVector'
        dailyAvg:
          $ref: '#/components/schemas/MetricRangeResult'
        dailyMin:
          $ref: '#/components/schemas/MetricRangeResult'
        dailyMax:
          $ref: '#/components/schemas/MetricRangeResult'
    MetricRangeResult:
      type: array
      description: |
        Range of metric vectors over a specific time period.
      items:
        $ref: '#/components/schemas/MetricVector'
    MetricVector:
      type: array
      description: |
        Single vector result as defined here: https://prometheus.io/docs/prometheus/latest/querying/api/#scalars
      items:
        type: string
      example:
        - '1678128445.119'
        - '0.033200143'
    APIError:
      description: Generic API error
      type: object
      additionalProperties: true
      required:
        - message
      properties:
        code:
          description: Unique (system-wide) error code for an error happened
          type: string
        message:
          description: Developer-friendly message explaining error
          type: string
    UserSchema:
      description: A user schema
      allOf:
        - $ref: '#/components/schemas/UserReadableSchema'
        - $ref: '#/components/schemas/UserWriteableSchema'
      required:
        - id
        - firstName
        - lastName
        - email
        - createdAt
    UserWriteableSchema:
      $ref: '#/components/schemas/PersonNamesSchema'
    UserReadableSchema:
      description: A user's readable properties
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
    MemberCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            members:
              type: array
              items:
                $ref: '#/components/schemas/MemberSchema'
          required:
            - members
    MemberSchema:
      allOf:
        - $ref: '#/components/schemas/UserSchema'
        - properties:
            role:
              $ref: '#/components/schemas/OrgMemberRole'
          required:
            - id
            - role
            - firstName
            - lastName
            - email
            - createdAt
    OrgMemberRole:
      type: string
      description: Role of organization member
      enum:
        - OrgAdmin
        - OrgOwner
    PersonNamesSchema:
      properties:
        firstName:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - example: Joanne
        lastName:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - example: Doe
    NameValidation:
      type: string
      minLength: 1
      maxLength: 100
      pattern: \S+
    DescriptionValidation:
      type: string
      maxLength: 250
      example: Description of the thing
      default: ''
    VPCPeeringCreateSchema:
      type: object
      description: Schema for creating a VPC peering connection
      properties:
        vpcId:
          $ref: '#/components/schemas/VpcId'
        cidrBlock:
          $ref: '#/components/schemas/CidrBlock'
        accountId:
          $ref: '#/components/schemas/AccountId'
        region:
          $ref: '#/components/schemas/Region'
        isSecureConnection:
          $ref: '#/components/schemas/IsSecureConnection'
      required:
        - vpcId
        - cidrBlock
        - accountId
        - region
        - isSecureConnection
    VPCPeeringSchema:
      type: object
      description: Response with information about a VPC peering connection
      properties:
        accountId:
          $ref: '#/components/schemas/AccountId'
        vpcId:
          $ref: '#/components/schemas/VpcId'
        region:
          $ref: '#/components/schemas/Region'
        status:
          $ref: '#/components/schemas/VPCPeeringStatus'
        peeringId:
          type: string
          description: The ID of the peering connection
          example: pcx-1410263943e464f4a
        cidrBlock:
          $ref: '#/components/schemas/CidrBlock'
        privateHostedZoneId:
          type: string
          description: The ID of the private hosted zone that the VPC should associate with
          example: Z04089311NGVVH0FO3QGG
        isSecureConnection:
          $ref: '#/components/schemas/IsSecureConnection'
    VpcPeeringCollectionSchema:
      description: Collection of VPC peering connections
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            vpcPeerings:
              type: array
              items:
                $ref: '#/components/schemas/VPCPeeringSchema'
          required:
            - vpcPeerings
    IsSecureConnection:
      type: boolean
      description: flag to set up tls or non tls vpc peering connection
      default: true
    Region:
      type: string
      description: Region where the VPC is deployed
      example: us-east-1
      pattern: ^[a-z]{2}-[a-z]+-\d+$
      default: us-east-1
    VpcId:
      x-go-name: VPCId
      type: string
      description: The ID of the VPC to create a peering connection with
      example: vpc-0123456789abcdef0
      pattern: ^vpc-([0-9a-f]{8}|[0-9a-f]{17})$
    AccountId:
      type: string
      description: The ID of the account where the VPC is deployed
      example: '123456789012'
      pattern: ^\d{12}$
    CidrBlock:
      type: string
      description: The VPC CIDR block where routing will take place
      example: 192.168.0.0/16
      pattern: ^\d{1,3}(\.\d{1,3}){3}\/\d{1,2}$
    VPCPeeringStatus:
      type: string
      description: Status of the VPC peering connection
      enum:
        - initiating-request
        - pending-acceptance
        - not-operable
        - provisioning
        - active
        - rejected
        - expired
        - failed
        - deleting
        - deleted
    UserCollectionSchema:
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/UserSchema'
    SecretSchema:
      description: A secret
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          $ref: '#/components/schemas/SecretName'
        description:
          $ref: '#/components/schemas/SecretDescription'
        createdAt:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - createdAt
    SecretCreateSchema:
      description: A secret
      properties:
        name:
          $ref: '#/components/schemas/SecretName'
        description:
          $ref: '#/components/schemas/SecretDescription'
        value:
          type: string
          description: The value of the secret
      required:
        - name
        - value
    SecretName:
      type: string
      description: The name of the secret. Must comply with RFC 1035.
      example: my-secret1
      pattern: ^[a-zA-Z]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?$
      maxLength: 63
    SecretDescription:
      type: string
      description: The description of the secret
      default: ''
      maxLength: 250
    SecretCollectionSchema:
      description: A collection of secrets
      allOf:
        - $ref: '#/components/schemas/CollectionCommon'
        - type: object
          properties:
            secrets:
              type: array
              items:
                $ref: '#/components/schemas/SecretSchema'
          required:
            - secrets
    CloudProviderInstanceTypeFilter:
      type: object
      properties:
        cloudProvider:
          type: string
          example: aws
        region:
          type: string
          example: us-east-1
        minDisks:
          type: integer
          minimum: 0
        minStorageGiB:
          type: integer
          minimum: 0
        minMemoryGiB:
          type: integer
          minimum: 0
    CreateTopologyRequest:
      type: object
      required:
        - name
        - databases
      properties:
        name:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - description: Name of the topology
              example: Primary_DR_Link
        description:
          $ref: '#/components/schemas/DescriptionValidation'
        globalXdr:
          $ref: '#/components/schemas/GlobalXDRConfig'
        databases:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/TopologyDatabase'
    Topology:
      type: object
      properties:
        topologyId:
          type: string
          format: uuid
          description: Unique identifier for the topology
          readOnly: true
        orgId:
          type: string
          format: uuid
          description: Organization ID
          readOnly: true
        name:
          allOf:
            - $ref: '#/components/schemas/NameValidation'
            - description: Name of the topology
        description:
          $ref: '#/components/schemas/DescriptionValidation'
        status:
          type: string
          enum:
            - creating
            - active
            - updating
            - deleting
            - error
          description: Current status of the topology
          readOnly: true
        globalXdr:
          $ref: '#/components/schemas/GlobalXDRConfig'
        databases:
          type: array
          items:
            $ref: '#/components/schemas/TopologyDatabase'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when topology was created
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when topology was last updated
          readOnly: true
    GlobalXDRConfig:
      type: object
      properties:
        ignoreExpunges:
          type: boolean
          default: false
          description: Whether to ignore record expunges
        shipVersionsPolicy:
          type: string
          enum:
            - keep_all_versions
            - keep_latest_version
          default: keep_all_versions
          description: Version shipping policy
        enableCompression:
          type: boolean
          default: false
          description: Enable compression for XDR shipping
        shipSets:
          type: array
          items:
            type: string
          description: List of sets to ship
        shipBins:
          type: array
          items:
            type: string
          description: List of bins to ship
        ignoreBin:
          type: array
          items:
            type: string
          description: List of bins to ignore
    TopologyDatabase:
      type: object
      required:
        - databaseId
      properties:
        databaseId:
          type: string
          format: uuid
          description: ID of the database in the topology
        outboundConnections:
          type: array
          items:
            $ref: '#/components/schemas/OutboundConnection'
    OutboundConnection:
      type: object
      required:
        - databaseId
      properties:
        databaseId:
          type: string
          format: uuid
          description: ID of the target database for this connection
    NetworkStorage:
      oneOf:
        - title: gp2
          type: object
          required:
            - type
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - gp2
              description: General Purpose SSD (gp2)
            sizeInGB:
              type: integer
              minimum: 1
              description: Size of the EBS volume in gigabytes
          additionalProperties: false
        - title: gp3
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - gp3
              description: General Purpose SSD (gp3)
            iops:
              type: integer
              minimum: 3000
              maximum: 16000
              description: IOPS for gp3 (min 3000, max 16000). Max 500 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 1
              description: Size of the EBS volume in gigabytes
          additionalProperties: false
        - title: io1
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - io1
              description: Provisioned IOPS SSD (io1)
            iops:
              type: integer
              minimum: 100
              maximum: 64000
              description: IOPS for io1 (min 100, max 64000). Max 50 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 4
              description: Size of the EBS volume in gigabytes (min 4 for io1)
          additionalProperties: false
        - title: io2
          type: object
          required:
            - type
            - iops
            - sizeInGB
          properties:
            type:
              type: string
              enum:
                - io2
              description: Provisioned IOPS SSD (io2)
            iops:
              type: integer
              minimum: 100
              maximum: 64000
              description: IOPS for io2 (min 100, max 64000). Max 1000 IOPS per GB (not enforced by schema).
            sizeInGB:
              type: integer
              minimum: 4
              description: Size of the EBS volume in gigabytes (min 4 for io2)
          additionalProperties: false
    Infrastructure:
      type: object
      additionalProperties: false
      required:
        - provider
        - instanceType
        - region
        - availabilityZoneCount
      properties:
        provider:
          type: string
          description: Cloud provider for the infrastructure
          enum:
            - aws
            - gcp
        instanceType:
          type: string
          description: Instance type for vertical scaling
          example: m5d.large
        region:
          type: string
          description: AWS region where resources will be deployed
          example: us-east-1
        availabilityZoneCount:
          type: integer
          minimum: 1
          maximum: 3
          description: Number of availability zones to spread resources across
        zoneIds:
          type: array
          items:
            type: string
          example:
            - use1-az1
          description: AWS availability zone IDs for aerospike nodes
        cidrBlock:
          type: string
          description: The /19 IPv4 CIDR block for the database VPC
          example: 10.128.0.0/19
          pattern: ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)/19$
        networkId:
          type: string
          description: The network ID of the database
          example: vpc-01234567890123456
          readOnly: true
        accountId:
          type: string
          description: The account ID of the database
          example: '123456789012'
          readOnly: true
        networkAttachedStorage:
          $ref: '#/components/schemas/NetworkStorage'
    AerospikeCloudShared:
      type: object
      required:
        - clusterSize
        - dataStorage
      properties:
        clusterSize:
          type: integer
          minimum: 1
          description: Number of nodes in the cluster (horizontal scaling)
        dataStorage:
          type: string
          enum:
            - memory
            - local-disk
            - network-storage
      additionalProperties: false
    AerospikeCloudMemory:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: In-memory database
          type: object
          properties:
            dataStorage:
              enum:
                - memory
            dataResiliency:
              type: string
              enum:
                - local-disk
                - network-storage
              description: Persist data using local disks or network storage. If omitted, data is stored in-memory without persistence.
          required:
            - dataStorage
    AerospikeCloudLocalDisk:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: Local disk database
          type: object
          properties:
            dataStorage:
              enum:
                - local-disk
            dataResiliency:
              type: string
              enum:
                - network-storage
              description: Persist data using network storage. If omitted, data is stored only on local SSDs without additional persistence.
          required:
            - dataStorage
    AerospikeCloudNetworkStorage:
      allOf:
        - $ref: '#/components/schemas/AerospikeCloudShared'
        - title: Network storage database
          type: object
          properties:
            dataStorage:
              enum:
                - network-storage
          required:
            - dataStorage
    AerospikeCloud:
      anyOf:
        - $ref: '#/components/schemas/AerospikeCloudMemory'
        - $ref: '#/components/schemas/AerospikeCloudLocalDisk'
        - $ref: '#/components/schemas/AerospikeCloudNetworkStorage'
    database_spec:
      title: Database Configuration Schema
      description: Base schema for database configuration. Should not be used directly.
      type: object
      required:
        - infrastructure
        - aerospikeCloud
        - aerospikeServer
      properties:
        infrastructure:
          $ref: '#/components/schemas/Infrastructure'
        aerospikeCloud:
          $ref: '#/components/schemas/AerospikeCloud'
        aerospikeServer:
          description: Aerospike server configuration
          type: object
          additionalProperties: false
          properties:
            service:
              type: object
              additionalProperties: false
              properties:
                advertise-ipv6:
                  type: boolean
                  description: ''
                auto-pin:
                  type: string
                  description: ''
                  enum:
                    - none
                    - cpu
                    - numa
                    - adq
                batch-index-threads:
                  type: integer
                  minimum: 1
                  maximum: 256
                  description: ''
                batch-max-buffers-per-queue:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                batch-max-requests:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                batch-max-unused-buffers:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                cluster-name:
                  type: string
                  description: ''
                  readOnly: true
                debug-allocations:
                  type: boolean
                  description: ''
                disable-udf-execution:
                  type: boolean
                  description: ''
                enable-benchmarks-fabric:
                  type: boolean
                  description: ''
                enable-health-check:
                  type: boolean
                  description: ''
                enable-hist-info:
                  type: boolean
                  description: ''
                enforce-best-practices:
                  type: boolean
                  description: ''
                  readOnly: true
                feature-key-file:
                  type: string
                  description: ''
                  readOnly: true
                feature-key-files:
                  type: array
                  items:
                    type: string
                  description: ''
                  readOnly: true
                group:
                  type: string
                  description: ''
                  readOnly: true
                indent-allocations:
                  type: boolean
                  description: ''
                info-max-ms:
                  type: integer
                  minimum: 500
                  maximum: 10000
                  description: ''
                info-threads:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                keep-caps-ssd-health:
                  type: boolean
                  description: ''
                  readOnly: true
                log-local-time:
                  type: boolean
                  description: ''
                  readOnly: true
                log-millis:
                  type: boolean
                  description: ''
                  readOnly: true
                microsecond-histograms:
                  type: boolean
                  description: ''
                  readOnly: true
                migrate-fill-delay:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                migrate-max-num-incoming:
                  type: integer
                  minimum: 0
                  maximum: 256
                  description: ''
                  readOnly: true
                migrate-threads:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: ''
                  readOnly: true
                min-cluster-size:
                  type: integer
                  minimum: 0
                  maximum: 256
                  description: ''
                  readOnly: true
                node-id:
                  type: string
                  description: ''
                  readOnly: true
                node-id-interface:
                  type: string
                  description: ''
                  readOnly: true
                os-group-perms:
                  type: boolean
                  description: ''
                  readOnly: true
                pidfile:
                  type: string
                  description: ''
                  readOnly: true
                poison-allocations:
                  type: boolean
                  description: ''
                proto-fd-idle-ms:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                proto-fd-max:
                  type: integer
                  minimum: 0
                  maximum: 2147483647
                  description: ''
                quarantine-allocations:
                  type: integer
                  minimum: 0
                  maximum: 100000000
                  description: ''
                query-max-done:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  description: ''
                query-threads-limit:
                  type: integer
                  minimum: 1
                  maximum: 1024
                  description: ''
                run-as-daemon:
                  type: boolean
                  description: ''
                  readOnly: true
                secrets-address-port:
                  type: string
                  description: ''
                  readOnly: true
                secrets-tls-context:
                  type: string
                  description: ''
                  readOnly: true
                secrets-uds-path:
                  type: string
                  description: ''
                  readOnly: true
                service-threads:
                  type: integer
                  minimum: 1
                  maximum: 4096
                  description: ''
                sindex-builder-threads:
                  type: integer
                  minimum: 1
                  maximum: 32
                  description: ''
                sindex-gc-period:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                stay-quiesced:
                  type: boolean
                  description: ''
                  readOnly: true
                ticker-interval:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                tls-refresh-period:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                  readOnly: true
                transaction-max-ms:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                transaction-retry-ms:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: ''
                user:
                  type: string
                  description: ''
                  readOnly: true
                vault-ca:
                  type: string
                  description: ''
                  readOnly: true
                vault-namespace:
                  type: string
                  description: ''
                  readOnly: true
                vault-path:
                  type: string
                  description: ''
                  readOnly: true
                vault-token-file:
                  type: string
                  description: ''
                  readOnly: true
                vault-url:
                  type: string
                  description: ''
                  readOnly: true
                work-directory:
                  type: string
                  description: ''
                  readOnly: true
            logging:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  name:
                    type: string
                    default: ' '
                    description: ''
                    pattern: ^[a-zA-Z0-9- ]*$
                    minLength: 1
                  misc:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  alloc:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  arenax:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  hardware:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  msg:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  os:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  secrets:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  socket:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  tls:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  vault:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  vmapx:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  xmem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  aggr:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  appeal:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  as:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  audit:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  batch:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  batch-sub:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  bin:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  config:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  clustering:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv-mem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv_pmem:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  drv_ssd:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  exchange:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  exp:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  fabric:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  flat:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  geo:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  hb:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
                      - detail
                    description: ''
                    default: CRITICAL
                  health:
                    enum:
                      - CRITICAL
                      - critical
                      - WARNING
                      - warning
                      - INFO
                      - info
                      - DEBUG
                      - debug
                      - DETAIL
[...]
