name: "Send release email and slack"
on:
  workflow_dispatch:
      inputs:
          VERSION:
              description: "Version for subject (eg 7.2.1)"
              required: true

jobs:
    build-and-release:
        runs-on: macos-13
        steps:
          - name: Harden the runner (Audit all outbound calls)
            uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
            with:
              egress-policy: audit

          - name: "Git checkout"
            uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
          - name: "Patch release date"
            run: |
              RET=0
              grep '_Release Date: Month Day, Year_' CHANGELOG/${{inputs.VERSION}}.md || RET=1
              if [ $RET -eq 0 ]
              then
                NDATE=$(date "+%B %d, %Y")
                sed -i.bak "s/_Release Date: Month Day, Year_/_${NDATE}_/g" CHANGELOG/${{inputs.VERSION}}.md
              fi
          - name: Send mail
            uses: step-security/action-send-mail@7238bab69680f644f9eab409cec92179d1d2f0ce # v6.0.1
            with:
              server_address: smtp.gmail.com
              server_port: 465
              secure: true
              username: ${{secrets.RELEASE_MAIL_USERNAME}}
              password: ${{secrets.RELEASE_MAIL_PASSWORD}}
              subject: AeroLab release v${{inputs.VERSION}}
              to: ${{secrets.RELEASE_MAIL_TO}}
              from: AeroLab Release Bot <${{secrets.RELEASE_MAIL_FROM}}>
              reply_to: ${{secrets.RELEASE_MAIL_FROM}}
              convert_markdown: true
              html_body: file://CHANGELOG/${{inputs.VERSION}}.md
              body: file://CHANGELOG/${{inputs.VERSION}}.md
          - name: "Send slack notification"
            env:
                SLACK_CHANNEL: ${{ secrets.RELEASE_SLACK_CHANNEL }}
                SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
            run: |
              curl -d "text=https://github.com/aerospike/aerolab/releases/tag/${{inputs.VERSION}}" -d "channel=${SLACK_CHANNEL}" -H "Authorization: Bearer ${SLACK_TOKEN}" -X POST https://slack.com/api/chat.postMessage || exit 0
